In [ ]:
import speech_recognition as sr
import time
import pyttsx3
import mysql.connector
from gtts import gTTS
from playsound import playsound
import os as os
import random

r = sr.Recognizer()
tts = pyttsx3.init()

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="voice_human"
)
mycursor = mydb.cursor()
# recognize user voice
def recog():
    with sr.Microphone() as mic:        
        # listen to microphone
        audio = r.listen(mic)
        text = ""
        try:
            # convert audio to text
            text = r.recognize_google(audio,None,'th')
            # print(text)
        except sr.UnknownValueError:
            print("Cannot understand your messsage")
        except sr.RequestError:
            print("Service is not ready")
        return text

def speak(text):
    tts.say(text)
    tts.runAndWait()

while True:
    print("say")
    text = recog()
    if "สวัสดีครับ" in text:
        serie = random.randint(2, 3)
        if serie == 2
            tts = gTTS(text="สวัสดียินค่ะ ยินดีต้อนรับสู่คำถามชุดที่ 1 ", lang='th')
            tts.save('start1.mp3')
            playsound('start1.mp3', True)
            sql = "SELECT question.question_id,question.question,answer.answer_id,answer.answer,answer.question_id FROM question INNER JOIN answer ON question.question_id = answer.question_id WHERE question.question_id =16 "
            mycursor.execute(sql)
            myresult = mycursor.fetchall()
            qid,q,adi,ans,aqdi = myresult[0]
            qid1,q1,adi1,ans1,aqdi1 = myresult[1]
            qid2,q2,adi2,ans2,aqdi2 = myresult[2]
            qid3,q3,adi3,ans3,aqdi3 = myresult[3]
            tts = gTTS(text=q, lang='th')
            tts.save('question1.mp3')
            playsound('question1.mp3', True)
            ans = str(ans)
            ans1 = str(ans1)
            ans2 = str(ans2)
            ans3 = str(ans3)
            print(q)
            print(ans)
            print(ans1)
            print(ans2)
            print(ans3)
            while True:
                print("เลือกคำตอบ")
                text = recog()
                if ans in text:
                    sql2 = "SELECT total_point FROM record WHERE question_id = 16 AND answer_id = 59"
                    mycursor.execute(sql)
                    total = mycursor.fetchall()
                    ans = str(total[0])
                    print(total[0])
                    tts = gTTS(text=ans, lang='th')
                    tts.save('answer11.mp3')
                    playsound('answer11.mp3', True)
                    
                elif ans1 in text:
                    sql2 = "SELECT total_point FROM record WHERE question_id = 16 AND answer_id = 60"
                    mycursor.execute(sql)
                    total = mycursor.fetchall()
                    ans = str(total[0])
                    print(total[0])
                    tts = gTTS(text=ans, lang='th')
                    tts.save('answer12.mp3')
                    playsound('answer12.mp3', True)
                    
                elif ans2 in text:
                    sql3 = "SELECT total_point FROM record WHERE question_id = 16 AND answer_id = 61"
                    mycursor.execute(sql)
                    total = mycursor.fetchall()
                    ans = str(total[0])
                    print(total[0])
                    tts = gTTS(text=ans, lang='th')
                    tts.save('answer13.mp3')
                    playsound('answer13.mp3', True)
                else :
                    sql4 = "SELECT total_point FROM record WHERE question_id = 16 AND answer_id = 62"
                    mycursor.execute(sql)
                    total = mycursor.fetchall()
                    ans = str(total[0])
                    print(total[0])
                    tts = gTTS(text=ans, lang='th')
                    tts.save('answer14.mp3')
                    playsound('answer14.mp3', True)
            
        elif serie ==3 :
            tts = gTTS(text="สวัสดียินค่ะ ยินดีต้อนรับสู่คำถามชุดที่ 2 ", lang='th')
            tts.save('start2.mp3')
            playsound('start2.mp3', True)
            sql = "SELECT question.question_id,question.question,answer.answer_id,answer.answer,answer.question_id FROM question INNER JOIN answer ON question.question_id = answer.question_id WHERE question.question_id =23 "
            mycursor.execute(sql)
            myresult = mycursor.fetchall()
            qid,q,adi,ans,aqdi = myresult[0]
            qid1,q1,adi1,ans1,aqdi1 = myresult[1]
            qid2,q2,adi2,ans2,aqdi2 = myresult[2]
            qid3,q3,adi3,ans3,aqdi3 = myresult[3]
            tts = gTTS(text=q, lang='th')
            tts.save('question1.mp3')
            playsound('question1.mp3', True)
            ans = str(ans)
            ans1 = str(ans1)
            ans2 = str(ans2)
            ans3 = str(ans3)
            print(q)
            print(ans)
            print(ans1)
            print(ans2)
            print(ans3)
            while True:
                 print("เลือกคำตอบ")
                text = recog()
                if ans in text:
                    sql2 = "SELECT total_point FROM record WHERE question_id = 23 AND answer_id = 82"
                    mycursor.execute(sql)
                    total = mycursor.fetchall()
                    ans = str(total[0])
                    print(total[0])
                    tts = gTTS(text=ans, lang='th')
                    tts.save('answer21.mp3')
                    playsound('answer21.mp3', True)
                    
                elif ans1 in text:
                    sql2 = "SELECT total_point FROM record WHERE question_id = 23 AND answer_id = 83"
                    mycursor.execute(sql)
                    total = mycursor.fetchall()
                    ans = str(total[0])
                    print(total[0])
                    tts = gTTS(text=ans, lang='th')
                    tts.save('answer22.mp3')
                    playsound('answer22.mp3', True)
                    
                elif ans2 in text:
                    sql3 = "SELECT total_point FROM record WHERE question_id = 23 AND answer_id = 84"
                    mycursor.execute(sql)
                    total = mycursor.fetchall()
                    ans = str(total[0])
                    print(total[0])
                    tts = gTTS(text=ans, lang='th')
                    tts.save('answer23.mp3')
                    playsound('answer23.mp3', True)
                else :
                    sql4 = "SELECT total_point FROM record WHERE question_id = 23 AND answer_id = 85"
                    mycursor.execute(sql)
                    total = mycursor.fetchall()
                    ans = str(total[0])
                    print(total[0])
                    tts = gTTS(text=ans, lang='th')
                    tts.save('answer24.mp3')
                    playsound('answer24.mp3', True)

        
        
        
        
        

        # sql = "SELECT question,question_id FROM question ORDER BY RAND() LIMIT 1"
# mycursor.execute(sql)
# myresult = mycursor.fetchall()
# print(myresult[0])
# question,header= (myresult[0])
# print(header)
# query = sqlparams.SQLParams(header)
# sql2, params = query.format("SELECT answer FROM anwer WHERE question_id IN :id;", {'id': (header)})
# print(result)
            
            
            
#     sql = "SELECT question_group from question WHERE"
#     mycursor.execute(sql)
#     myresult = mycursor.fetchall()
# #     x = str(myresult)
#     print(myresult)  
#     for x in myresult:
#       print(x)
#     series1,series2,series3=myresult
#     print(series1,series2,series3)
#     header,question = myresult[1]
#     print(question)
#     tts = gTTS(text=question, lang='th')
#     tts.save('sound.mp3')
#     playsound('sound.mp3', True)
#     os.system('rm sound.mp3')
#         sql1 = ""
#         mycursor.execute(sql1)
#         result = mycursor.fetchall()
#         print(result)