In [74]:
import speech_recognition as sr
import time
import pyttsx3
import mysql.connector
from gtts import gTTS
from playsound import playsound
import os as os
r = sr.Recognizer()
tts = pyttsx3.init()

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="voice_human"
)
mycursor = mydb.cursor()
# recognize user voice
def recog():
    with sr.Microphone() as mic:        
        # listen to microphone
        audio = r.listen(mic)
        text = ""
        try:
            # convert audio to text
            text = r.recognize_google(audio,None,'th')
            # print(text)
        except sr.UnknownValueError:
            print("Cannot understand your messsage")
        except sr.RequestError:
            print("Service is not ready")
        return text


def speak(text):
    tts.say(text)
    tts.runAndWait()

while True:
    print("say")
    text = recog()
    if "สวัสดีครับ" in text:
# select question
        sql = "SELECT question FROM question WHERE question_id=1"
        mycursor.execute(sql)
        myresult = mycursor.fetchall()
        print(myresult)
        x = str(myresult)
        tts = gTTS(text=x, lang='th')
        tts.save('sound.mp3')
        playsound('sound.mp3', True)
        os.system('rm sound.mp3')
        sql1 = "SELECT answer.answer,answer.answer_id FROM question INNER JOIN answer ON question.question_id=answer.question_id WHERE answer.question_id = 1 ORDER BY answer.answer_id"
        mycursor.execute(sql1)
        result = mycursor.fetchall()
        print(result)

say
[('1. สมมติว่าคุณเจอสัตว์ประหลาดที่ดุร้ายน่ากลัวตัวหนึ่งกำลังอาละวาดพังบ้านช่องข้าวของไปทั่วคุณคิดว่าทำไมสัตว์ประหลาดตัวนั้นถึงออกอาละวาดอย่างดุร้าย',)]

ProgrammingError: 1054 (42S22): Unknown column 'answer.id' in 'order clause'